@import '../../../style/wavrStyle.less';

.button {
  height:100%;
  width:33.3%;
  border: none;
  background-color: @backdropGrey;
  color: @white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.2s;
}

.button:hover {
  background-color: @background !important;
}

.button:focus {
  outline: none;
}

.button > * {
  pointer-events: none;
}

#day0{
  background-color: @background;
}
