@import '../../../style/wavrStyle.less';\

.daySel {
    .section;
}

.button {
  height:100%;
  width:33.3%;
  border: none;
  background-color: @backdropGrey;
  color: @white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button:hover {
  background-color: @background;
}
