@import '../../../../style/wavrStyle.less';

.box1, .box2 {
  font-size: @mediumFont;
  font-weight: bold;
  padding: 10px;
  margin: 4px;
  white-space: nowrap;
  width: 100%;
  transition: opacity 0.2s;
  align-self: stretch;
}

.box1{
  background-color: @primaryBlue;
}

.box2{
  background-color: @secondaryBlue;
}

.box1:hover, .box2:hover{
  opacity: 0.9;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content:center;
  align-items: center;
  padding: 5%;
}