@import '../../../../style/wavrStyle.less';

.box1, .box2 {
  font-size: @mediumFont;
  font-weight: bold;
  padding: 10px;
  white-space: nowrap;
  width: 100%;
  transition: opacity 0.2s;
  align-self: flex-end;
  min-width: 120px;
  max-width: 150px;
  padding: 9px 10px;
}

.box1{
  background-color: @primaryBlue;
  margin-bottom: 4px;
}

.box2{
  background-color: @secondaryBlue;
}

.box2:hover{
  opacity: 0.9;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content:center;
  align-items: center;
  margin: 1px;
}
