@import '../../../style/wavrStyle';

.slider {
    .section;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
}

