@import '../../style/wavrStyle.less';


.grid {
	display: grid;
	grid-template-areas: 	"head"
												"swell"
												"weather"
												"tide"
												"slider"
												"dayselection";
	grid-template-rows: 10vh 25vh 25vh 15vh 15vh 10vh;
	max-width: 700px;
	margin: auto;
}


.head {
	grid-area: "head";
}

.swell {
	grid-area: "swell";

}

.weather {
	grid-area: "weather";
}

.tide {
	grid-area: "tide";
}

.slider {
	grid-area: "slider";
}

.dayselection {
	grid-area: "dayselection";
}
