@import '../../../../style/wavrStyle.less';
.grid{
    .section;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100%;
}

.subGridA{
    .section;
    text-align: left !important;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.subGridB{
    .section;
    text-align: center !important;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
}

.dial{
  position: relative;
  top: -10px;
  height: 100%;
  justify-self: center;
}

.image{
  left:25%;
  top:25%;
  position: relative;
  width: 30%;
  justify-self: center;
}

.smallImage{
  top: 15%;
  position: relative;
  width: 30%;
  justify-self: center;
}

p{

}

.meter {
  stroke: @primaryBlue;
}

.bg {
  stroke: @backdropGrey;
}

.backCircle {
  stroke: @white;
}

.dirText{
  fill: @white;
  font-family: @fontFamily;
}

.speedText {
  fill: @white;
  font-family: @fontFamily;
}

.pointer {
  fill: @red;
}
