@import '../../../../style/wavrStyle.less';
.grid{
    .section;
    display: grid;
    grid-template-columns: 10% 10% 60% 20%;
    grid-template-rows: 50% 50%;
}

.dial{
  position: relative;
  height: 100%;
  margin: auto;
  grid-column: 1 / 2;
}

.image{
  position: relative;
  margin: auto;
  width: 40%;
  margin:auto;
}

.smallImage{
  width: 30%;
  margin:auto;
}

.meter {
  stroke: @primaryBlue;
}

.bg {
  stroke: @backdropGrey;
}

.backCircle {
  stroke: @white;
}

.dirText{
  fill: @white;
  font-family: @fontFamily;
}

.speedText {
  fill: @white;
  font-family: @fontFamily;
}

.pointer {
  fill: @red;
}
