@import '../../../style/wavrStyle.less';
.tide {
    .section;
}

.svg {
    width: 100%;
    height: 20vh;
}

.backdrop {
    fill: @backdropGrey;
    .innerShadow;
}

.wave {
    fill : @primaryBlue;
}

.text {
    white-space: pre; 
    fill: @white; 
    font-size: 10px;
    font-family: @fontFamily;
}

.coverPane {
    fill: @backdropGrey;
    opacity: 0.5;
}

.timeBar {
    stroke: @white; 
    stroke-linecap: round; 
    stroke-width: 2px;
}