@import '../../../../style/wavrStyle.less';

.swellSvg {
  background-color: #4e4e4e;
  position: absolute;
  max-height: 100%;
  max-width: 225px;
  margin: auto;
}

.swellPathPrimary {
  fill: @primaryBlue;
}

.swellPathSecondary {
  fill: @secondaryBlue;
}

.cont {
  display: flex;
  justify-content: center;
}