@import '../../../../style/wavrStyle.less';

.swellSvg {
  background-color: #4e4e4e;
  position: absolute;
  max-height: 100%;
  max-width: 225px;
}

.swellPath {
  fill: #41bdff;
}

.cont {
  position: relative;
}