@import '../../../../style/wavrStyle.less';

.swellSvg {
  position: absolute;
  background-color: #4e4e4e;
  max-height: 63%;
  width: 50%;
  height: 100%;
  margin-right: 3%;
  max-width: 248px;
  right: 20%;
}

.swellPathPrimary {
  fill: @primaryBlue;
}

.swellPathSecondary {
  fill: @secondaryBlue;
}

.cont {
  width: 60%;
  height: 60%;
  display: -ms-flexbox;
  display: block;
  -ms-flex-pack: right;
  justify-content: right;
  transform: scale(2);
  position: absolute;
  left: 30%;
  margin-right: -20px;
  top: 50%;
}
