// Colours
@primaryBlue : #41BDFF;
@secondaryBlue : #0D89CA;
@background : #323232;
@backdropGrey : #4E4E4E;
@white : #F3F3F3;
@offwhite : rgb(198, 198, 198);
@starColour: #D8D8D8; //same as cloud colour
@compassBlack : #000;
@red : #E91D29;

// Shadow
.innerShadow() {
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
    -webkit-filter: drop-shadow( 0px 1px 3px rgba(0,0,0,0.5));
    filter: drop-shadow( 0px 1px 3px rgba(0,0,0,0.5));
    border-radius: 1px;
}

// Text
@font-face {
    font-family: JohnstonReg;
    src: url(fonts/johnstonReg.woff);
}
@fontFamily : JohnstonReg;
@extraLargeFont : 24px; // for compass dir
@mediumFont : 14px; // for descriptions/subtitles
@smallFont : 12px; // for small labels

.titleFont() {
    font-size : 1.17em;
    // font-weight: bold;
}


// Padding
@sectionPadding : 5px 10px 5px 10px;

// Mixins
/* declare as follows
    .swell {
        .section;
    }
*/
.section() {
    // background-color: @background;
    padding: @sectionPadding;
    color: @white;
    font-family: @fontFamily;
    margin: 5px 0px 5px 0px;
}

.transition() {
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.line() {
    border-top: 1px solid @backdropGrey;
}
