<!DOCTYPE html>
<html>

<head>
	<% for (var chunk in htmlWebpackPlugin.files.css) { %>
	<link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>" as="style">
	<% } %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
	<link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
	<% } %>
	<meta charset="utf-8">
	<title>Wavr</title>
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="description" content="preact-boilerplate">
	<meta name="msapplication-TileColor" content="#673ab8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="preact-boilerplate">
	<meta name="application-name" content="preact-boilerplate">
	<meta name="format-detection" content="telephone=no">
	<meta name="theme-color" content="#673ab8">
	<link rel="apple-touch-icon" sizes="57x57" href="./assets/icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="./assets/icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="./assets/icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="./assets/icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="./assets/icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="./assets/icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="./assets/icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="./assets/icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="./assets/icons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="./assets/icons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./assets/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./assets/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./assets/icons/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="manifest" href="./manifest.json">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body></body>

</html>