@import '../../../style/wavrStyle.less';


.menu {
    .section;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown Button {
  text-align: left;
  font-size: @mediumFont;
  // width: 150px;
  color: @white;
  background-color: @backdropGrey;
  border: 2px solid black;
}

.dropdown Button:hover {
  background-color: @background;
}

.dropdown {
  display: flex;
  justify-content: end;
}

// .dropButton Button {
//   margin-left: 50vw;
// }
