@import '../../../style/wavrStyle.less';


.menu {
    .section;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoLayout {
  margin: 0;
  display: grid;
  // grid-template-columns: auto 70px auto;
  grid-template-columns: auto auto;

  grid-template-rows: 15px 15px;
  grid-gap: 0px 5px;
}

.stars {
  grid-row: 1 ;
  grid-column: 2;
  align-self: center;
}

.locName {
  grid-row: 1;
  grid-column: 1;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  align-self: center;
  margin-right: 5px;
}

.day, .time {
  grid-column: 1;
  display: block;
  font-weight: normal;
  text-align: center;
  font-size: @smallFont;
  display: inline-block;
  margin-right: 5px;
}
.day {
  grid-row: 1;
}

.time {
  grid-row: 2;
}

.dropdown button {
  text-align: left;
  font-size: @mediumFont;
  // width: 150px;
  color: @white;
  background-color: @backdropGrey;
  // border: 2px solid black;
  border-radius: 1px;
  margin-right: 5px;
  transition: all 0.1s ease;
  outline: none;
}

.dropdown button:hover {
  background-color: @background;
  // transform: scale(1.01);
}

.dropdown button:focus {
  outline: none;
}

.dropdown {
  display: flex;
  justify-content: end;
  outline: none;
}

.icon {
  fill: @white;
  transition: all 0.1s ease;
  outline: none;
}

.icon:hover {
  fill: @offwhite;
}

.button:focus{
  outline:none;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
}

// .dropButton Button {
//   margin-left: 50vw;
// }
